/* CSS footer */


.ctnFacil{}

.ctnFacil .ctnArcade{}

.ctnIndex{}
.fcIndexTop{width:866px;overflow:hidden}
.fcIndexBox{width:866px;overflow:hidden}
.fcIndex3rdBox{width:275px;float:left;margin-right:15px;}
.fcIndex3rdBox.last{margin-right:0;}






