@CHARSET "UTF-8";

#bg{
	width:700px;
	height:300px;
	background-color:#F6F6F6;
	border-top:3px solid #997000;
}

table{
	width:400px;
	margin-top:10%;
	margin-bottom:;
}

input[type=text],[type=password]{
	width:250px;
	height:20px;
}

input[type=submit]{
	width:125px;
	height:55px;
	font-size:13pt;
	font-weight:bold;
	color:#FFEBC6;
	background-color:#662500;
}

input[type=button]{
	width:125px;
	height:30px;
	font-weight:bold;
	color:#FFEBC6;
	background-color:#AE6D48;
	
}

@font-face{
	font-family:'a제우스';
	src:url(fonts/A제우스.TTF);
}

#h1{
	font-family:a제우스;
	font-size:40pt;
	color:#AE6D48;
	
}
#h2{
	font-family:a제우스;
	font-size:20pt;
	color:#AE6D48;
	
}


