@CHARSET "UTF-8";

body,table,tr,td,select,div,form,textarea,center,option,pre,blockquote,input{
                         font-size:11px; 
                         font-family:Dotum; 
                         color:#7e5a35; 
                         line-height:16px; 
                         word-spacing:-1px; 
                         font-style:normal; 
                         font-variant: normal;
                         scrollbar-3dlight-color:     #e2dabf;
                         scrollbar-shadow-color:      #e2dabf;
                         scrollbar-arrow-color:       #88631e;
                         scrollbar-track-color:       #FFFFFF;
                         scrollbar-darkshadow-color:  #FFFFFF;
                         scrollbar-face-color:        #FFFFFF;
                         scrollbar-highlight-color:   #FFFFFF;
}


img                     {border:0px;}
body	            {height:100%; margin:0; padding:0; background-color:#000000; position:relative;} /* 20160331 수정(z-index:-99 삭제)*/
.body2                  {height:100%; margin:0; padding:0; background-color:#ffffff;}

.body3                  {height:100%; margin:0; padding:0; background-color:#ffffff;
                         scrollbar-3dlight-color:     #e2dabf;
                         scrollbar-shadow-color:      #e2dabf;
                         scrollbar-arrow-color:       #88631e;
                         scrollbar-track-color:       #FFFFFF;
                         scrollbar-darkshadow-color:  #FFFFFF;
                         scrollbar-face-color:        #FFFFFF;
                         scrollbar-highlight-color:   #FFFFFF;
                         position:relative;
                        }


a:link	                {color:#666666; line-height:16px; text-decoration:none; font-family:Dotum;} 
a:visited	            {color:#666666; line-height:16px; text-decoration:none; font-family:Dotum;}
a:active                {color:#666666; line-height:16px; text-decoration:none; font-family:Dotum;}
a:hover 	            {color:#666666; line-height:16px; text-decoration:underline; font-family:Dotum;}

/*-- align --*/
.al_le                  {text-align:left;}
.al_ce                  {text-align:center;}
.al_ri                  {text-align:right;}

/*-- valign --*/
.va_t                   {vertical-align:top;}
.va_m                   {vertical-align:middle;}
.va_b                   {vertical-align:bottom;}

/*-- select --*/
.select_box_m_brown     {behavior:url('css/select_box_m_brown.htc');} /*-- 메인 관계사보기 --*/
.select_box_brown       {behavior:url('./css/select_box_brown.htc');}/*-- 서브 관계사보기 --*/
.select_box_w           {behavior:url('./css/select_box_w.htc');}/*-- 기본 --*/
.select_box_view        {behavior:url('./css/select_box_view.htc');}/*-- 이벤트 셀렉트 --*/
.select_box_resort      {behavior:url('./css/select_box_resort.htc');}/*-- 리조트 --*/


/*-- font size --*/ 
.bb                     {font-weight:bold;}
.txt_11                 {font-size:11px;}
.txt_12                 {font-size:12px;}
.txt_14                 {font-size:14px;}
.txt_15                 {font-size:15px;}

/*-- txt color --*/
.txt_nobar              {color:#e2dabf;}
.txt_nobar_view         {color:#c7a86f;}
.txt_point              {color:#ECCA53;}
.txt_tip                {color:#9c7d30;}
.txt_ft                 {color:#614500;}
.txt_ft a:link	        {color:#614500; line-height:16px; text-decoration:none; font-family:Dotum;} 
.txt_ft a:visited	    {color:#614500; line-height:16px; text-decoration:none; font-family:Dotum;}
.txt_ft a:active        {color:#614500; line-height:16px; text-decoration:none; font-family:Dotum;}
.txt_ft a:hover 	    {color:#614500; line-height:16px; text-decoration:underline; font-family:Dotum;}
.txt_db                 {color:#dbc189;}
.txt_db a:link	        {color:#dbc189; line-height:16px; text-decoration:none; font-family:Dotum;} 
.txt_db a:visited	    {color:#dbc189; line-height:16px; text-decoration:none; font-family:Dotum;}
.txt_db a:active        {color:#dbc189; line-height:16px; text-decoration:none; font-family:Dotum;}
.txt_db a:hover 	    {color:#dbc189; line-height:16px; text-decoration:underline; font-family:Dotum;}
.txt_ed                 {color:#edbf5f;}
.txt_ed a:link	        {color:#edbf5f; line-height:16px; text-decoration:none; font-family:Dotum;} 
.txt_ed a:visited	    {color:#edbf5f; line-height:16px; text-decoration:none; font-family:Dotum;}
.txt_ed a:active        {color:#edbf5f; line-height:16px; text-decoration:none; font-family:Dotum;}
.txt_ed a:hover 	    {color:#edbf5f; line-height:16px; text-decoration:underline; font-family:Dotum;}
.txt_ry                 {color:#f4f1e6;}
.txt_yw                 {color:#d2c8be;}
.txt_yw a:link	        {color:#d2c8be; line-height:16px; text-decoration:none; font-family:Dotum;} 
.txt_yw a:visited	    {color:#d2c8be; line-height:16px; text-decoration:none; font-family:Dotum;}
.txt_yw a:active        {color:#d2c8be; line-height:16px; text-decoration:none; font-family:Dotum;}
.txt_yw a:hover 	    {color:#d2c8be; line-height:16px; text-decoration:underline; font-family:Dotum;}
.txt_wh                 {color:#FFFFFF;}
.txt_wh a:link	        {color:#FFFFFF; line-height:16px; text-decoration:none; font-family:Dotum;} 
.txt_wh a:visited	    {color:#FFFFFF; line-height:16px; text-decoration:none; font-family:Dotum;}
.txt_wh a:active        {color:#FFFFFF; line-height:16px; text-decoration:none; font-family:Dotum;}
.txt_wh a:hover 	    {color:#FFFFFF; line-height:16px; text-decoration:underline; font-family:Dotum;}

/*-- Point Color --*/
.txt_r                  {color:#a31321;}
.txt_b                  {color:#133fa3;}
.txt_g                  {color:#666666;}

/*-- Background Color --*/
.bg_ff                  {background-color:#FFFFFF;}
.bg_00                  {background-color:#000000;}
.bg_ry                  {background-color:#f4f1e6;}
.bg_ft                  {background-color:#ded3b4;}
.bg_dy                  {background-color:#eae4d3;}
.bg_pop                 {background-color:#2a1810;}
.bg_search              {background-color:#a68d74;}
.list_over_f5           {background-color:#f4f1e6;}
/*-- Background Image --*/
.body_bg                {background-image:url(../images/body_bg.gif); background-position:left top; background-repeat:repeat;}
.bg                     {background-image:url(../images/bg.jpg); background-position:left top; background-repeat:repeat-x;}
.bg_top                 {background-image:url(../images/common/top_bg.gif); background-position:left top; background-repeat:no-repeat;}
.popup_bg               {background-image:url(../images/popup_bg.gif); background-position:left top; background-repeat:repeat;}
.community              {width:627px; background-image:url(/images/community/main_bg.gif); background-position:right top; background-repeat:no-repeat;}
.community_01           {width:627px; background-image:url(/images/community/01_bg.gif); background-position:right top; background-repeat:no-repeat;}
.intro_bg                {background-image:url(/images/intro_bg.jpg); background-position:left top; background-repeat:repeat-x;}

/*-- category Background Image --*/
.leftmenu_sorak         {width:223px; padding-top:187px; background-image:url(/images/leftmenu/leftmenu_sorak.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_donghae       {width:223px; padding-top:187px; background-image:url(/images/leftmenu/leftmenu_donghae.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_gyeongju      {width:223px; padding-top:187px; background-image:url(/images/leftmenu/leftmenu_gyeongju.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_chungju       {width:223px; padding-top:187px; background-image:url(/images/leftmenu/leftmenu_chungju.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_jeju          {width:223px; padding-top:187px; background-image:url(/images/leftmenu/leftmenu_jeju.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_reservation   {width:223px; padding-top:142px; background-image:url(/images/leftmenu/leftmenu_reservation.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_event         {width:223px; padding-top:142px; background-image:url(/images/leftmenu/leftmenu_event.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_join          {width:223px; padding-top:142px; background-image:url(/images/leftmenu/leftmenu_join.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_school        {width:223px; padding-top:142px; background-image:url(/images/leftmenu/leftmenu_school.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_recruit       {width:223px; padding-top:142px; background-image:url(/images/leftmenu/leftmenu_recruit.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_mypage        {width:223px; padding-top:142px; background-image:url(/images/leftmenu/leftmenu_mypage.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_chain         {width:223px; padding-top:142px; background-image:url(/images/leftmenu/151118_chain/leftmenu_chain.gif); background-position:right top; background-repeat:no-repeat;} /* 20151118 수정*/
.leftmenu_foreign       {width:223px; padding-top:142px; background-image:url(/images/leftmenu/leftmenu_foreign.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_customer      {width:223px; padding-top:142px; background-image:url(/images/leftmenu/leftmenu_customer.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_community     {width:223px; padding-top:142px; background-image:url(/images/leftmenu/leftmenu_community.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_company       {width:223px; padding-top:142px; background-image:url(/images/leftmenu/leftmenu_company.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_membership    {width:223px; padding-top:142px; background-image:url(/images/leftmenu/leftmenu_membership.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_benefit    {width:223px; padding-top:187px; background-image:url(/images/leftmenu/leftmenu_benefit.gif); background-position:right top; background-repeat:no-repeat;}/* 20150925 추가*/
.leftmenu_reward        {width:223px; padding-top:142px; background-image:url(/images/leftmenu/leftmenu_reward.gif); background-position:right top; background-repeat:no-repeat;}
.leftmenu_seogwipo      {width:223px; padding-top:187px; background-image:url(/images/leftmenu/leftmenu_seogwipo.gif); background-position:right top; background-repeat:no-repeat;} /* 20140512 추가*/
.leftmenu_cp     		{width:223px; padding-top:200px; background-image:url(/images/leftmenu/leftmenu_cp.gif); background-position:right top; background-repeat:no-repeat;} /* 20140512 추가*/
.leftmenu_hadong     {width:223px; padding-top:187px; background-image:url(/images/leftmenu/leftmenu_hadong.gif); background-position:right top; background-repeat:no-repeat;} /* 20150519 추가*/
.leftmenu_namon      {width:223px; padding-top:187px; background-image:url(/images/leftmenu/leftmenu_namon.gif); background-position:right top; background-repeat:no-repeat;}

  

.top_sorak              {width:900px; height:212px; background-image:url(/images/top/top_sorak.gif); background-position:left top; background-repeat:no-repeat;}
.top_donghae            {width:900px; height:212px; background-image:url(/images/top/top_donghae.gif); background-position:left top; background-repeat:no-repeat;}
.top_gyeongju           {width:900px; height:212px; background-image:url(/images/top/top_gyeongju.gif); background-position:left top; background-repeat:no-repeat;}
.top_chungju            {width:900px; height:212px; background-image:url(/images/top/top_chungju.gif); background-position:left top; background-repeat:no-repeat;}
.top_jeju               {width:900px; height:212px; background-image:url(/images/top/top_jeju.gif); background-position:left top; background-repeat:no-repeat;}
.top_reservation        {width:900px; height:152px; background-image:url(/images/top/top_reservation.gif); background-position:left top; background-repeat:no-repeat;}
.top_event              {width:900px; height:152px; background-image:url(/images/top/top_event.gif); background-position:left top; background-repeat:no-repeat;}
.top_join               {width:900px; height:152px; background-image:url(/images/top/top_join.gif); background-position:left top; background-repeat:no-repeat;}
.top_school             {width:900px; height:152px; background-image:url(/images/top/top_school.gif); background-position:left top; background-repeat:no-repeat;}
.top_recruit            {width:900px; height:152px; background-image:url(/images/top/top_recruit.gif); background-position:left top; background-repeat:no-repeat;}
.top_chain              {width:900px; height:152px; background-image:url(/images/top/top_chain.gif); background-position:left top; background-repeat:no-repeat;}
.top_customer           {width:900px; height:152px; background-image:url(/images/top/top_customer.gif); background-position:left top; background-repeat:no-repeat;}
.top_community          {width:900px; height:152px; background-image:url(/images/top/top_community.gif); background-position:left top; background-repeat:no-repeat;}
.top_company            {width:900px; height:152px; background-image:url(/images/top/top_company.gif); background-position:left top; background-repeat:no-repeat;}
.top_membership         {width:900px; height:152px; background-image:url(/images/top/top_membership.gif); background-position:left top; background-repeat:no-repeat;}
.top_hadong             {width:900px; height:212px; background-image:url(/images/top/top_hadong.gif); background-position:left top; background-repeat:no-repeat;}/* 20150519 추가*/
.top_namon              {width:900px; height:202px; background-image:url(/images/top/top_namon.gif); background-position:left top; background-repeat:no-repeat;}


.popup_top              {background-image:url(../images/top/popup_top.gif); background-position:center top; background-repeat:no-repeat;}
.popup_tops             {background-image:url(../images/top/popup_tops.gif); background-position:center top; background-repeat:no-repeat;}
.popup_layer            {height:100%; margin:0; padding:0; background-color:#eae4d3;}

/*-- Background Image --*/
.login_bg               {width:627px; height:147px; background-image:url(/images/join/login_bg.gif); background-position:center top; background-repeat:no-repeat;}


/*-- Image border --*/ 
.resort_thumbnail       {border-color:#ded3b4; border-width:1px; border-style:solid;}

/*--  input style --*/
.inp_box                {border:#e2dabf 1px solid; color:#7e5a35; background-color:#FFFFFF; padding-left:7px; padding-right:7px; height:16px; }
.inp_box_view           {border:#a98560 1px solid; color:#7e5a35; background-color:#FFFFFF; padding-left:7px; padding-right:7px; height:16px; }
.event_box              {border:#e2dabf 1px solid; color:#7e5a35; background-color:#FFFFFF;}
.event_box_view         {border:#a98560 1px solid; color:#7e5a35; background-color:#f6dfb6;}
.event_box_bg           {border:#e2dabf 1px solid; color:#7e5a35; background-color:#EFEAD6;}
.photo_box              {border:#d9d9d9 1px solid; color:#7e5a35; background-color:#FFFFFF;}
.comment_box            {border:#e2dabf 1px solid; color:#7e5a35; background-color:#f4f0e5; padding-left:7px; padding-right:7px; height:16px; 
                         scrollbar-3dlight-color:     #e2dabf;
                         scrollbar-shadow-color:      #e2dabf;
                         scrollbar-arrow-color:       #88631e;
                         scrollbar-track-color:       #f4f0e5;
                         scrollbar-darkshadow-color:  #f4f0e5;
                         scrollbar-face-color:        #f4f0e5;
                         scrollbar-highlight-color:   #f4f0e5;}
.comment_box_view        {border:#a98560 1px solid; color:#7e5a35; background-color:#ffffff; padding-left:7px; padding-right:7px; height:16px; 
                         scrollbar-3dlight-color:     #e2dabf;
                         scrollbar-shadow-color:      #e2dabf;
                         scrollbar-arrow-color:       #88631e;
                         scrollbar-track-color:       #f4f0e5;
                         scrollbar-darkshadow-color:  #f4f0e5;
                         scrollbar-face-color:        #f4f0e5;
                         scrollbar-highlight-color:   #f4f0e5;}
/*-- Padding --*/
.pd_0                   {padding:0;} /* 20160121 추가*/
.pd_1                   {padding:1px;}
.pd_2                   {padding:2px;}
.pd_5                   {padding:5px;}
.pd_10                  {padding:10px;}
.pd_15                  {padding:15px;}
.pd_25                  {padding:25px;}
/*-- Right --*/
.pd_r3                  {padding-right:3px;} 
.pd_r5                  {padding-right:5px;} 
.pd_r10                 {padding-right:10px;}
/*-- Left --*/
.pd_l3                  {padding-left:3px;}
.pd_l5                  {padding-left:5px;}
.pd_l10                 {padding-left:10px;}
.pd_l15                 {padding-left:15px;}
.pd_l25                 {padding-left:25px;}
.pd_l30                 {padding-left:30px;}
/*-- Top --*/
.pd_t2                  {padding-top:2px;}
.pd_t3                  {padding-top:3px;}
.pd_t5                  {padding-top:5px;}
.pd_t10                 {padding-top:10px;}
.pd_t15                 {padding-top:15px;}
.pd_t20                 {padding-top:20px;}
.pd_t30                 {padding-top:30px;}
.pd_t50                 {padding-top:50px;}
.pd_t85                 {padding-top:85px;} /* 20160121 추가 */
.pd_t150                 {padding-top:150px;}
/*-- Bottom --*/
.pd_b3                  {padding-bottom:3px;}
.pd_b5                  {padding-bottom:5px;}
.pd_b10                 {padding-bottom:10px;}
.pd_b20                 {padding-bottom:20px;}
.pd_b40                 {padding-bottom:40px;}
.pd_b56                 {padding-bottom:56px;} /*130131 추가*/
.pd_b80                 {padding-bottom:80px;} /* 20160121 추가 */



/*-- textArea --*/
.div_text    {padding-left:5;padding-right:5;padding-top:5;padding-bottom:5;
              border-spacing:0;
              border-bottom:1px solid #e2dabf;
              border-top:1px    solid #e2dabf;
              border-left:1px   solid #e2dabf;
              border-right:1px  solid #e2dabf;}
			  
			  
.backCol{background:#f3f1e9; overflow:hidden;} /* 20151105 추가 */	
.ma_t250{margin-top:250px;}	/* 20151105 추가 */	  


/* 20151209 팝업 스타일 추가 (248~ 272라인)*/

.main_popBg{width:100%; min-height:100%; background:url(/images/common/main_popBg.png); position:fixed; top:0; left:0; z-index:99999; float:left; overflow:hidden;}  
.info_pop{width:600px; height:500px; background:#fff; overflow:hidden; padding:25px; position:absolute; bottom:200px; left:50%; margin-left:-325px; z-index:99999;} 
.info_pop h4,.info_pop h5{ font-size:13px;}
.info_pop ul,.info_pop dl,.info_pop ol,.info_pop li{ margin:0; padding:0;} 
.info_pop dd{ margin-left:0; padding-left:0;}
.info_pTitle{font-size:18px; color:#1a1a1a; margin-bottom:10px; float:left;}
.scroll_box{width:580px; height:380px; border:1px #CCCCCC solid; float:left; overflow-y:scroll; margin-bottom:15px; padding:10px;}
.btn_popClose{ text-align:center; cursor:pointer; clear:both;} 

.ma_t5{margin-top:5px;}
.ma_t10{margin-top:10px;}
.ma_t15{margin-top:15px;}
.ma_t20{margin-top:20px;}

.ma_b5{margin-bottom:5px;}
.ma_b10{margin-bottom:10px;}
.ma_b15{margin-bottom:15px;}
.ma_b20{margin-bottom:20px;}

.ma_r5{margin-right:5px;}

ul, li, ol, dl, dt, dd{list-style:none;}

.flo_l{float:left;}
.cl_l{clear:left;}


/* 20160121 추가 (280~ 291라인)*/

.psHeaderBg{ background:url(/images/pension/headerBg.gif) top left repeat-x;}
.ma_0{ margin:0;}
.ma_b30{margin-bottom:30px;}
.txtSt01{color:#564e45; font-size:12px;}
.txtSt01_b{color:#564e45; font-weight:bold; font-size:12px;}
.psLogBox{width:564px; background:#f4f1e6; border:1px #e1d7ca solid; padding:50px 35px 40px 35px; margin-left:auto; margin-right:auto;} /* 20160125 수정*/
.inputSt01{height:26px; line-height:26px; border:1px #e7e1dc solid; background:#fff; padding-left:10px;}

.btnLogin{width:100px; height:66px; line-height:66px; background:#2e1a11; color:#fff; font-weight:bold; font-size:12px; text-align:center; cursor:pointer; border:0;}  /* 20160125 수정*/

a.linkLog{color:#fff; text-decoration:none;}
.layoutSt01{ position:relative; z-index:999;}

/* 20160125 추가 (293~308라인 추가)*/

.txtSt02{color:#2e1a11; line-height:20px;}
.selectSt01{height:28px; line-height:28px; border:1px #e7e1dc solid; background:#fff; padding-left:5px;}
.boxSt01{width:560px; margin:25px auto 0 auto; padding-top:15px; overflow:hidden; text-align:center; border-top:1px #ded6c8 solid;}
a.btnphone{width:200px; height:35px; line-height:35px; background:#2e1a11; color:#fff; font-weight:bold; font-size:12px; text-align:center; border:0; display:inline-block; text-decoration:none;}
.ma_r20{margin-right:20px;}

.psLogPop{width:100%; height:100%; background:url(/images/pension/popBg.png); position:absolute; top:0; left:0; z-index:9999;}
.psLogPopWrap{width:422px; margin:380px auto 0 auto; background:#fff; position:relative;}
.psLogPopCon{ padding:10px 25px 25px 25px;}
.psPopInfo{width:100%; border-top:1px #e7e1dc solid; border-bottom:1px #e7e1dc solid; margin-top:5px; margin-bottom:25px; padding:15px 0 10px 0; overflow:hidden;}
.psPopInfo dt{width:90px; height:28px; line-height:28px; color:#564e45; font-size:12px; text-align:left; margin:0 0 7px 35px; float:left; clear:left;}
.psPopInfo dd{width:220px; height:28px; text-align:left;  margin:0 0 7px 0; float:left;}
.logPopBt01{width:100px; height:35px; line-height:35px; background:#2e1a11; color:#fff; font-weight:bold; font-size:12px; text-align:center; border:0; cursor:pointer;}
.popBtClose01{ position:absolute; top:0; right:-35px; cursor:pointer;}

/* 20160201 추가 (310 ~ 323 라인)*/
.printPop{width:650px; top:100px; left:50%; margin-left:-260px;  background:#fff; position:relative; text-align:center; padding:50px 0;}
.bg_bw{ background:#8c7250;}
.txt_13{font-size:13px;}
.ma_t30{margin-top:30px;}
.txtSt03{color:#5b432c; font-size:13px; padding-left:20px;}
.printInfo{width:535px; height:124px; margin:0 auto 40px auto; color:#7e5a35; font-size:11px; text-align:left; position:relative; overflow:hidden;}
.printBg{ position:absolute; left:0; top:0; z-index:0;}
.printInfoTxt{ position:absolute; left:20px; top:20px; z-index:5;}
.printInfo span.bb{color:#7e5a35; font-size:11px; font-weight:bold;}

.btnClose01,.btnPrint{width:80px; height:35px; line-height:35px; text-align:center; cursor:pointer; color:#fff; border:0; font-weight:bold;}
.btnClose01{background:#a68d74;}
.btnPrint{background:#2e1a11;}

/* 20160308 추가 */

.tableStPS{}
.tableStPS th{padding:7px 0; border-top:2px #5b432c solid; background: #f4f1e6;}
.tableStPS td{padding:7px 0; text-align:center; border-bottom:1px #e8e5d9 solid;}